# Copie esse arquivo, renomeie para application-secrets.properties e preencha com as credenciais
spring.security.oauth2.client.registration.google.client-id=CLIENT_ID_AQUI
spring.security.oauth2.client.registration.google.client-secret=CLIENT_SECRET_AQUI
spring.security.oauth2.client.registration.google.scope=email,profile
